.worldmap-geography {
  stroke: #eee;
  stroke-width: 1;
  outline: none;
  cursor: default;
}

.worldmap-geography-enabled {
  /* fill: #fff; */
  cursor: pointer;
}

.worldmap-composablemap {
  width: 70%;
  align-self: center;
}
